@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan," sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.selection-p1 {
  padding: 40px 80px;
}
.selection-m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #1a1a1a;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.box-banner {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}
body {
  width: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#main-image {
  background-image: url("img/freestocks-_3Q3tsJ01nc-unsplash.jpg");
  height: 95vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#main-image h4 {
  padding-bottom: 15px;
}
#main-image h1 {
  color: #088179;
}
#main-image button {
  background-color: transparent;
  color: #088179;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .features-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .features-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .features-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#feature .features-box img {
  width: 45%;
  margin-bottom: 10px;
}
#feature .features-order {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .features-order:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .features-order h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#feature .features-order img {
  width: 65%;
  margin-bottom: 10px;
}

#feature .features-promo {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .features-promo:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .features-promo h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#feature .features-promo img {
  width: 47%;
  margin-bottom: 10px;
}

#feature .features-happy {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .features-happy:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .features-happy h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
#feature .features-happy img {
  width: 70%;
  margin-bottom: 10px;
}
#feature .features-box:nth-child(1) h6 {
  background-color: #cdebbc;
}

#feature .features-order:nth-child(2) h6 {
  background-color: #c625d4;
}

#feature .features-box:nth-child(3) h6 {
  background-color: #83c81b;
}

#feature .features-box:nth-child(6) h6 {
  background-color: #228bbb;
}

#feature .features-promo:nth-child(4) h6 {
  background-color: #be9c22;
}

#feature .features-happy:nth-child(5) h6 {
  background-color: #debceb;
}

#featured-products .products {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#featured-products {
  text-align: center;
}
#featured-products .product1 {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#featured-products .product1:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#featured-products .product1 img {
  width: 100%;
  border-radius: 20px;
}
#featured-products .product1 .designs {
  text-align: start;
  padding: 10px 0;
}
#featured-products .product1 .designs span {
  color: #088178;
  font-size: 12px;
}
#featured-products .product1 .designs h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#featured-products .product1 .designs i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#featured-products .product1 .designs h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088179;
}
#featured-products .product1 .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6eb;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/banner.jpg);
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;
}
#banner h4 {
  color: #cce7d0;
  font-size: 20px;
}
#banner h2 {
  color: #cce7d0;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: #d71212;
}
#banner button:hover {
  background-color: #088178;
  color: red;
}
#new-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#new-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/Women-Shopping.jpg);
  width: 580px;
  height: 50vh;
  background-position: center;
  background-size: cover;
  padding: 30px;
}
#new-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#new-banner h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}
#new-banner p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#new-banner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
}
#new-banner .banner-box2 {
  background-image: url(img/cloth\ collection\ 2.jpg);
}
